@font-face {
  font-family: Stanger;
  src: url(assets/fonts/stanger.ttf);
}

body {
  background-color: #efefef;
  font-family: Stanger;
}
a { color: blue; }
a:visited { color: blue; }
.stage {
  margin: 0 auto;
  border: 10px solid #121212;
}
.info {
  width: 1036px;
  height: 150px;
  margin: 0 auto;
  direction: rtl;
  background-color: #fff;
  padding: 0 20px;
  margin-top: 10px;
}
.instructions, .cheaters {
  width: 50%;
  float: right;
  text-align: center;

}