/*@font-face {
  font-family: 'StangerFont';
  src: url('assets/fonts/stanger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'StangerFont';
  src: url('assets/fonts/stanger_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}*/
@font-face {
    font-family: 'StangerFont';
    src: url('assets/fonts/stanger-webfont.eot');
    src: url('assets/fonts/stanger-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/stanger-webfont.woff') format('woff'),
         url('assets/fonts/stanger-webfont.ttf') format('truetype'),
         url('assets/fonts/stanger-webfont.svg#stangerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'StangerFont';
    src: url('assets/fonts/stanger_bold-webfont.eot');
    src: url('assets/fonts/stanger_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/stanger_bold-webfont.woff') format('woff'),
         url('assets/fonts/stanger_bold-webfont.ttf') format('truetype'),
         url('assets/fonts/stanger_bold-webfont.svg#stangerregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  background-color: #efefef;
  font-family: 'StangerFont';
}
a { color: blue; }
a:visited { color: blue; }
.stage {
  margin: 0 auto;
  border: 10px solid #121212;
}
.invi {
  width: 1036px;
  margin: 0 auto;
}
.info, .if-error, .map {
  width: 1036px;
  height: 150px;
  margin: 0 auto;
  direction: rtl;
  background-color: #fff;
  padding: 0 20px;
  margin-top: 10px;
}
.info, .map { display: none; }
.if-error, .map { background-color: #efefef; text-align: center; }
.instructions, .cheaters {
  width: 50%;
  float: right;
  text-align: center;  
}